################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ConsoleApp5/bin/
/ConsoleApp5/obj/
*.user
